<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ page.title }}</title>
    <link href="{{ "/assets/css/stylesheet.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "/assets/css/hilight.css" | relative_url }}" rel="stylesheet">
    <script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			TeX: {  extensions: ["cancel.js", "mhchem.js"] },
			tex2jax: { inlineMath: [ ['$','$'] ], processEscapes: true }
		});
	</script>
	<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML&locale=ja"></script>
</head>