<header>
    <div id="header">
        <a href="{{ "/" | relative_url }}">
            山口大学プログラミングサークル Ruby / Python 研究会
        </a>
    </div>
</header>    

<header id="nav-sw" onclick="navsw()">
    <script>
function navsw(){
    document.getElementById("nav-sw").classList.add("clicked")
    document.getElementById("nav-header").classList.add("clicked")
}
function navswc(){
    document.getElementById("nav-sw").classList.remove("clicked")
    document.getElementById("nav-header").classList.remove("clicked")
}
    </script>
    メニューを開く
</header>

<header id="nav-header">
    <nav>
        <ul>
            <li><a href="/">プログラミング研究会</a></li>
            <li><a href="/news">お知らせ</a></li>
            <li><a href="/blog">ブログ</a></li>
            <li><a href="https://github.com/yamaguchi-ruby/">GitHub</a></li>
            <li><a href="//twitter.com/__ruby_python__">Twitter</a></li>
            <li><a href="/sars2-yamaguchi">新型コロナ</a></li>
            <li><a href="#" onclick="navswc()" class="nav-swc">メニューを畳む</a></li>
        </ul>
    </nav>
</header>