<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ page.title }} - 山口大学プログラミング研究会</title>
    <link href="{{ "/assets/css/stylesheet.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "/assets/css/hilight.css" | relative_url }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,500,700|Kosugi+Maru|Noto+Serif+JP|Ubuntu+Mono|Ubuntu:300,400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			TeX: {  extensions: ["cancel.js", "mhchem.js"] },
			tex2jax: { inlineMath: [ ['$','$'] ], processEscapes: true }
		});
  </script>
  <script src="/assets/js/kagawa.js"></script>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML&locale=ja"></script>
  <script src="https://twemoji.maxcdn.com/twemoji.min.js"></script>
</head>