---
---

input[type="button"]
    background: #f44336
    border: none
    padding: 8px 16px
    font-size: 18px
    color: #ffebee
    cursor: pointer
    border-radius: 4px
    transition: .4s
    &:hover
        background: #b71c1c

#sudoku_table
    table-layout: fixed
    word-break: break-all
    word-wrap: break-word
    max-width: 100%
    tr
        td
            padding: 0
            select
                background: transparent
                border: none
                -moz-appearance: none
                appearance: none
                -webkit-appearance: none
                cursor: pointer
                height: 36px
                width: 36px
                transition: .4s
                text-align: center
                &:hover
                    background: #9E9E9E !important
                &#p00, &#p01, &#p02, &#p06, &#p07, &#p08, &#p10, &#p11, &#p12, &#p16, &#p17, &#p18, &#p20, &#p21, &#p22, &#p26, &#p27, &#p28,
                &#p33, &#p34, &#p35, &#p43, &#p44, &#p45, &#p53, &#p54, &#p55, 
                &#p60, &#p61, &#p62, &#p66, &#p67, &#p68, &#p70, &#p71, &#p72, &#p76, &#p77, &#p78, &#p80, &#p81, &#p82, &#p86, &#p87, &#p88,
                    background-color: #E0E0E0
                    