---
---

$font-color: #212121
$a-color: #2196F3
$bg-gray: #212121
$bg: #fafafa

#kagawa_warn
    max-width: 1024px
    margin: 0 auto
    background: #EF5350
    color: #fafafa
    padding: 64px

body
    margin: 0
    color: $font-color
    display: flex
    flex-flow: column
    min-height: 100vh
    font-family: Ubuntu, "Noto Sans JP", Arial, "libra sans", sans-serif
    background-image: url(/assets/images/rbpy.svg)
    background-size: 200px
    background-attachment: fixed

    a
        color: $a-color
        text-decoration: none

    header
        // line-height: 80px
        font-size: 26px
        user-select: none
        background: #212121dd
        div#header
            max-width: 1024px
            margin: 0 auto
            padding: 32px 64px
            a
                color: #fafafa
        nav
            display: block
            max-width: 1024px
            margin: 0 auto
            ul
                padding: 0
                margin: 0
                list-style: none
                display: block
                font-size: 0
                li
                    transition: .3s
                    display: inline-block
                    
                    &:hover
                        background: #424242
                    a
                        display: inline-block
                        padding: 16px 32px
                        color: #fafafa
                        font-size: 18px
                        width: 80px
                        text-align: center


    footer
        text-align: center
        line-height: 80px
        background: #eeeeee


    article
        flex: 1
        margin: 0 auto
        font-size: 16px
        max-width: 1024px
        padding: 64px
        background-color: $bg
        background: $bg+dd
        box-sizing: border-box
        width: 100%

        code
            font-family: Ubuntu Mono

        time
            color: #9E9E9E

        dt
            font-weight: bolder

        table
            border-collapse: collapse
            th, td
                border: 1px solid #dfe2e5
                padding: 6px 12px
                line-height: 1.8

        .article_time_box
            color: #889
            margin-top: 32px
            margin-bottom: -32px

        blockquote
            border-left: 4px solid #dde
            margin-left: 0
            padding-left: 32px

        p
            margin-bottom: 16px
            margin-top: 0


        h1
            &.article_title
                font-size: 40px
                border: none
                margin-top: 0px

        section
            line-height: 2

            img
                max-width: 100%

            h1
                font-size: 1.8em
                border-bottom: 1px solid #ddd

            h2
                font-size: 1.6em
                border-bottom: 1px solid #ddd

            h3
                font-size: 1.4em

            h4
                font-size: 1.2em

            h5
                font-size: 1.0em

            h6
                font-size: 0.8em
            

            div.highlight
                border-radius: 4px
                pre.highlight
                    padding: 16px
                    border-radius: 4px
                    overflow-x: auto

                    code
                        code
                            counter-increment: linenumber
                    
                        & > code::before
                            content: counter(linenumber)
                            width: 32px
                            display: inline-block
                            text-align: right
                            margin-right: 16px
                            font-weight: normal
                            color: #EEEEEE

img.emoji
    height: 1em
    width: 1em
    margin: 0 .05em 0 .1em
    vertical-align: -0.1em

@media screen and (max-width:360px)
    body
        header
            div#header
                padding: 16px 32px
            nav
                display: none
        article
            padding: 32px
        


