---
---

$font-color: #212121
$a-color: #2196F3
$bg-gray: #212121
$bg: #ffffff

@keyframes bganim
    0%
        background-position: 0 0
    100%
        background-position: -150px 150px

#kagawa_warn
    max-width: 1024px
    margin: 0 auto
    background: #EF5350
    color: #fafafa
    padding: 64px

button, input[type="button"], input[type="submit"]
    background-color: var(--color)
    border: none
    color: white
    height: 32px
    padding: 0 58px
    border-radius: 3px
    font-size: 12px
    &:hover
        background-color: var(--light)

input[type="text"], input
    padding: 4px 8px
    font-size: 14px
    border-radius: 3px
    border: solid 2px #37474f
    &:focus
        border: solid 2px var(--color)

body
    margin: 0
    color: $font-color
    display: flex
    flex-flow: column
    min-height: 100vh
    font-family: Livvic, "M PLUS 1p", Century Gothic, Arial, Noto Sans JP, sans-serif
    background-image: url(/assets/images/rbpy.svg)
    background-size: 150px
    background-attachment: fixed
    background-color: #fffefe
    animation: bganim 8s infinite linear

    a
        color: var(--color)
        text-decoration: none

    header
        z-index: 1
        font-size: 1.6em
        user-select: none
        &#nav-sw
            display: none
        #navBtn
            display: none
        div#header
            max-width: 1024px
            margin: 0 auto
            padding: 10.5px 24px
            font-size: 0.5em
            a
                color: var(--color)
        &#nav-header
            z-index: 0
            nav
                display: block
                max-width: 1024px
                margin: 0 auto
                padding: 0 24px
                ul
                    padding: 0
                    margin: 0
                    list-style: none
                    display: block
                    font-size: 0
                    li
                        transition: .3s
                        display: inline-block
                        cursor: pointer
                        &.nav-swc
                            display: none
                        &:nth-child(1)
                            a
                                &:hover
                        a
                            display: inline-block
                            line-height: 1rem
                            padding: 18px 24px
                            color: var(--color)
                            font-size: 1rem
                            text-align: center
                            min-width: 80px
                            &:hover
                                background: var(--color)
                                color: #fafafa
                                background-image: linear-gradient(var(--color) 0%, var(--color) 50%, var(--dark) 51%, var(--dark) 100%)



    footer
        text-align: center
        line-height: 80px
        background: #eeeeee


    article
        flex: 1
        margin: 0 auto
        // font-size: 16px
        max-width: 1024px
        padding: 64px
        background-color: $bg
        background: $bg+f9
        box-sizing: border-box
        width: 100%

        code
            font-family: Ubuntu Mono

        time
            color: #9E9E9E

        dt
            font-weight: bolder

        table
            border-collapse: collapse
            th, td
                border: 1px solid #dfe2e5
                padding: 6px 12px
                line-height: 1.8

        .article_time_box
            color: #889
            margin-top: 32px
            margin-bottom: -32px

        blockquote
            border-left: 4px solid #dde
            margin-left: 0
            padding-left: 32px

        p
            margin-bottom: 16px
            margin-top: 0


        h1
            &.article_title
                font-size: 2.6em
                border: none
                margin-top: 0px

        section
            line-height: 2

            img
                max-width: 100%

            h1
                font-size: 1.8em
                border-bottom: 1px solid #ddd

            h2
                font-size: 1.6em
                border-bottom: 1px solid #ddd

            h3
                font-size: 1.4em

            h4
                font-size: 1.2em

            h5
                font-size: 1.0em

            h6
                font-size: 0.8em
            

            // div.highlight
            //     border-radius: 4px
            //     pre.highlight
            //         padding: 16px
            //         border-radius: 4px
            //         overflow-x: auto

            //         code
            //             code
            //                 counter-increment: linenumber
                    
            //             & > code::before
            //                 content: counter(linenumber)
            //                 width: 32px
            //                 display: inline-block
            //                 text-align: right
            //                 margin-right: 16px
            //                 font-weight: normal
            //                 color: #EEEEEE

img.emoji
    height: 1em
    width: 1em
    margin: 0 .05em 0 .1em
    vertical-align: -0.1em

body.konami
    font-family: Noto Serif JP, Ubuntu, Kosugi Maru, Noto Sans JP, Arial, "libra sans", sans-serif

    article
        counter-reset: h1

        p
            text-indent: 1em

        .article_title
            text-align: center
            font-size: 1.8em
            font-family: Noto Serif JP
            &::before
                content: ""
                counter-set: h1

        h1, h2, h3, h4, h5, h6
            font-family: Noto Sans JP, Noto Serif JP, Arial, "libra sans", sans-serif
            font-weight: 500
            &::before
                font-family: Noto Serif JP

        h1
            border-bottom: unset
            counter-reset: h2
            &::before
                counter-increment: h1
                content: counter(h1) "　"

        h2
            border-bottom: unset
            counter-reset: h3
            &::before
                counter-increment: h2
                content: counter(h1) "." counter(h2) "　"

        h3
            border-bottom: unset
            counter-reset: h4
            &::before
                counter-increment: h3
                content: counter(h1) "." counter(h2) "." counter(h3) "　"

        h4
            counter-reset: h5
            &::before
                counter-increment: h4
                content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "　"

        h5
            counter-reset: h6
            &::before
                counter-increment: h5
                content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "　"

        h6
            &::before
                counter-increment: h6
                content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) "　"


@media screen and (max-width:900px)
    body
        font-size: 14.5px

        header
            .menu
                &::before
                    font: normal normal normal 14px/1 FontAwesome
                    
            &#nav-sw
                display: block
                height: 24px
                padding: 16px
                text-align: center
                font-size: unset
                cursor: pointer
                i
                    color: var(--color)
                &.clicked
                    height: 0
                    font-size: 0
                    padding: 0
            div#header
                font-size: 14px
                a
            
            &#nav-header
                &.clicked
                    nav
                        transition: .4s
                        display: block
                        ul
                            li
                                &.nav-swc
                                    display: block
                                a
                                    padding: 18px 0
                                    font-size: 16px
                                    border-bottom: 0 !important
                nav
                    display: none
                    padding: 0
                    ul
                        li
                            display: block
                            a
                                padding: 0
                                font-size: 0
                                width: 100%
                                &:hover

            #navBtn
                background-image: url("/assets/icons/🍔.svg")
                height: 64px
                width: 64px
                display: block
                position: absolute
                top: 0px
                right: 0px
                background-size: 100%
        article
            padding: 16px
            h1
                &.article_title
                    font-size: 32px
            section
                font-size: 18px
                p
                    line-height: 1.7em
                h1
                    font-size: 1.45em
                h2
                    font-size: 1.25em
                h3
                    font-size: 1.05em
                h4, h5, h6
                    font-size: 0.85em

    #kagawa_warn
        padding: 16px

    #spmenu
        position: fixed
        width: 100%
        height: 120%
        background: #21212133
        overflow: hidden
        #spmenu1
            margin: auto 16px
            box-shadow: 0px 0px 24px -16px #212121
            position: absolute
            margin: auto
            top: 0
            right: 0
            bottom: 0
            left: 0
            height: 324px
            width: calc(100% - 30px)
            left: 0
            right: 0
            ul
                list-style: none
                padding: 0
                margin: 0
                li
                    text-align: center
                    border-bottom: solid 1px #E0E0E0
                    background: #fafafa
                    &:active
                        background: #eeeeee
                    &#spmenuexit
                        border-bottom: unset
                    &:first-child
                        border-radius: 8px 8px 0 0
                    &:last-child
                        border-radius: 0 0 8px 8px
                    a
                        display: block
                        font-size: 24px
                        height: 24px
                        user-select: none
                        padding: 20px 0
                        // padding-top: 16px

@media (prefers-color-scheme: dark) 
    body
        background-color: #424242
        background-image: unset
        footer
            background: #616161
            color: #fafafa !important
        article
            background: #212121dd
            color: #fafafa
        header
            &#nav-header
                box-shadow: #212121 0px 0px 8px 0px