<!doctype html>
<html>
    {% include head.html %}
    <body>
        {% include header.html %}
        <article>
            <h1 class="article_title">{{ page.title }}</h1>
            <section>
                {{ content }}
            </section>
            <p>
                <a href="https://jigsaw.w3.org/css-validator/check/referer">
                    <img style="border:0;width:88px;height:31px"
                        src="https://jigsaw.w3.org/css-validator/images/vcss"
                        alt="正当なCSSです!" />
                </a>

                <a href="https://jigsaw.w3.org/css-validator/check/referer">
                    <img style="border:0;width:88px;height:31px"
                    src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
                    alt="正当なCSSです!" />
                </a>
            </p>
        </article>
        {% include footer.html %}
        {% include script.html %}
    </body>
</html>